	</div>

		</div>

			<div id="sidebar_1" class="sidebar">
				<ul class="sidebar_list">
	<li id="divConnect">
    	<h3>Connect</h3>
    	<div id="connectFacebook"><a href="https://www.facebook.com/pages/Whole-Foods-Co-op/49852317869?ref=ts">facebook</a></div>	
        <div id="connectPhone">(218) 728-0884</div>	
        <div id="connectEmail"><a href="mailto:info@wholefoods.coop">info@wholefoods.coop</a></div>	
    </li>

				</ul>
			</div>
		</div>
		<!--
		<div id="sidebars">
			<div id="sidebar_2" class="sidebar">
				<ul class="sidebar_list">
				</ul>
			</div>
		</div>
		-->

	</div>
</div>
</div>
<div id="footer_area" class="full_width">
<div class="page">
	<div id="footer">
    <div id="footer-widget-block">
        <div class="footer-one footer-widgets">
                <div class="widget widget_black_studio_tinymce" id="black-studio-tinymce-2"><h3>Whole Foods Co-op</h3>			<div class="textwidget"><p>610 E 4th Street <br />Duluth, MN 55805 <br /><a title="Locations" href="http://coop.pebbleonline.com/coop-location/">location map</a></p></div>

		</div>        </div>
    
        <div class="footer-two footer-widgets">
                <div class="widget widget_black_studio_tinymce" id="black-studio-tinymce-3"><h3>Connect</h3>			<div class="textwidget"><p>phone: (218) 728-0884<br /><a href="&lt;a href=&quot;mailto: info@wholefoods.coop &quot;&gt;info@wholefoods.coop&lt;/a&gt;">info@wholefoods.coop</a><br /><a href="https://www.facebook.com/pages/Whole-Foods-Co-op/49852317869">Visit us on Facebook</a></p></div>
		</div>        </div>
    
        <div class="footer-three footer-widgets">

                <div class="widget widget_black_studio_tinymce" id="black-studio-tinymce-4"><h3>Shopping Tools</h3>			<div class="textwidget"><p><a title="Store Specials" href="http://wholefoods.coop/wp/coop-deals/">Co-op Savings</a><br /><a title="Deli Menu" href="http://wholefoods.coop/wp/deli-menu/">Deli Menu</a></p></div>
		</div>        <div id="wfc_plu_lookup" class="widget">
             <p>PLU Lookup</p>             <form onsubmit="return wfc_plu_lookup_submit();">
                        <input type="text" id="wfc_plu_input" size="6"/>
            <input type="submit" value="Go" />

            </form>
            <div id="wfc_plu_output"></div>
            </div> 
		        </div>
       <div class="footer-four footer-widgets">
                <div class="widget widget_search" id="search-2"><h3>Search</h3><form role="search" method="get" id="searchform" action="http://wholefoods.coop/wp/" >
	<div><label class="screen-reader-text" for="s">Search for:</label>
	<input type="text" value="" name="s" id="s" />

	<input type="submit" id="searchsubmit" value="Search" />
	</div>
	</form></div>        </div>
        <div class="footer-five footer-widgets">
                <div class="widget widget_black_studio_tinymce" id="black-studio-tinymce-5"><h3>Your Account</h3>			<div class="textwidget"><p><a href="#">Login to your account</a><br /><a href="#">Register for new account</a></p></div>
		</div>        </div>

       
    </div>
			<script type='text/javascript'>
/* <![CDATA[ */
var WFC_PLU_AJAX = {"ajaxurl":"http:\/\/wholefoods.coop\/wp\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='http://wholefoods.coop/wp/wp-content/plugins/wfc-plu-lookup/ajax.js?ver=3.3.2'></script>
	</div>
</div>
</div>
<!--[if lte IE 8]>
<div id="ie_clear"></div>
<![endif]-->
    </div> <!--end of wrapper div-->
     
    </body>

</html>
